html,
body {
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/grid';
@import 'helpers/typography';

@import 'pages/register';
@import 'pages/thank-you';
@import 'pages/speaker-single';
@import 'pages/contact';
@import 'pages/why-sponsibit';

@import 'components/areas';
@import 'components/header';
@import 'components/buttons';
@import 'components/heroes';
@import 'components/split-hero';
@import 'components/area-to-explore';
@import 'components/resources-listing';
@import 'components/benefit-tile';
@import 'components/generic-tile';
@import 'components/inputs';
@import 'components/about-map';
@import 'components/about-video';
@import 'components/resource-post';
@import 'components/banners';
@import 'components/speaker-listing';
@import 'components/sponsor-strip';
@import 'components/ticket-tier';
@import 'components/tabular-navigation';
@import 'components/footer';

html {
  background: $jet-black;
}

.column img {
  width: 100%;
}

.embed-container {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.video-container {
  margin: auto;
  max-width: 700px;
  padding: 100px 0 50px;

  @include breakpoint(768px) {
    padding: 50px 0 25px;
  }
}

.gfield_select {
  width: 100% !important;
}

.about-icon {
  height: 100px;
  width: 100%;
  display: flex;
  margin-bottom: 20px;

  &__image {
    max-width: 100px;
    max-height: 80px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  }
}
